{% extends "network/layout.html" %}

{% load static %}

{% block additional_head %}
    <link rel="stylesheet" href="https://mincss.com/entireframework.min.css" crossorigin="anonymous"/>

    <style>
        .editpost {
            display: none;
        }
    </style>

{% endblock %}

{% block body %}

{% if user.is_authenticated %}
<div style="
    display: grid;
    grid-template-rows: repeat(3, auto);
    place-content: center;
    color: rgba(10,10,10,0.5);
    background: rgba(173, 216, 230, 1) var(--taosurl);
    background-size: 100% 100%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    ">
    <h5 style="justify-self: left;">new post</h5>
    <form id="post-form" action="{% url 'post' %}" method="POST">
        {% csrf_token %}
        {{ form.as_div}}
        <input class="postbutton" type="submit" value="Post">
    </form>
</div>
{% endif %}

<div style="display: grid; place-items: center;">
    <h5 style="margin-top: 0.5rem; justify-self: center;">all posts</h5>
</div>

{% for post in page_posts %}

    <div>
        <div style="display: flex; flex-direction: row; justify-content: space-between;">
            <p class="username"><b><a href="{% url 'profile' post.user.username %}">{{ post.user }}</a></b></p>
            <p>{{ post.timestamp }}<b style="color: rgba(144, 238, 144, 1);"> | </b>Rec'd<b style="color: rgba(144, 238, 144, 1);"> | </b><span value="{{ post.user.likes }}" id="like-count-{{ post.id }}">{{ post.user.likes }}</span></p>
        </div>
        <p id="content_{{ post.id }}">{{ post.text }}</p>
    </div>

    {% if user == post.user %}

    <button
        onclick="displayEditForm({{ post.id }})"
        data-target="#edit_post_{{ post.id }}"
        >Edit</button>

    <div id="edit_post_{{ post.id }}" style="display: none;">
        <h5>Edit Post</h5>
        <textarea style="background-color: rgba(173, 216, 230, 0.5);" id="textarea_{{ post.id }}" class="form-control" name="content">{{ post.text }}</textarea>
        <button type="button" onclick="editpost({{ post.id }})">Save</button>
    </div>
    {% else %}
    <button class="like-button" data-post-id="{{ post.id }}" onclick="toggleLikes({{ post.id }}, 'like')">Like</button>
    {% endif %}

    {% empty %}
    <p>Be the first to post your thoughts!</p>

{% endfor %}

{% if page_posts.has_other_pages %}
    <ul class="pagination">
        {% if page_posts.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ page_posts.previous_page_number }}">Previous</a></li>
        {% endif %}
        {% if page_posts.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ page_posts.next_page_number }}">Next</a></li>
        {% endif %}
    </ul>
{% endif %}

<script>

    // Fetch updated like counts for all posts
    window.addEventListener('load', function() {
        fetchLikeCountsAll();
    });

    function fetchLikeCountsAll() {

        const postIds = Array.from(document.querySelectorAll('[id^="like-count-"]')).map(element => element.id.split('-')[2]);

        postIds.forEach(postId => {
            fetch(`/get_like_count/${postId}`)
                .then(response => response.json())
                .then(data => {
                    const likeCountSpan = document.getElementById(`like-count-${postId}`);
                    if (likeCountSpan) {
                        likeCountSpan.textContent = data.likes;
                    }
                })
                .catch(error => console.error('Error fetching like count:', error));
        });
    }

    function toggleLikes(postId, action) {
        const likeCountSpan = document.getElementById(`like-count-${postId}`);
        const likeButton = document.querySelector(`[data-post-id="${postId}"]`);
        //console.log('likeButton: ', likeButton)

        fetch(`/toggle_likes/${postId}`, {
            method: 'POST',
            headers: { 'X-CSRFToken': '{{ csrf_token }}', 'Content-Type': 'application/json' },
            body: JSON.stringify({ action: action })
        })
        .then(response => response.json())
        .then(data => {
            if (data.error) { console.error(data.error); }
            else {
                likeCountSpan.textContent = data.likes;
                if (action === 'like') { likeButton.textContent = data.liked ? 'Unlike' : 'Like'; }
                else { likeButton.textContent = data.liked ? 'Like' : 'Unlike'; }
            }
        })
        .catch(error => { console.error('Error toggling like:', error); });
    }

    function displayEditForm(id)  {
            const editPostForm = document.getElementById(`edit_post_${id}`);
            editPostForm.style.display = 'block';
    }

    function editpost(id) {
        const textareaValue = document.getElementById(`textarea_${id}`).value;
        const content = document.getElementById(`content_${id}`);
        const editPostForm = document.getElementById(`edit_post_${id}`);

        fetch(`/edit/${id}`, {
            method: "POST",
            headers: { "Content-type": "application/json", "X-CSRFToken": '{{ csrf_token }}' },
            body: JSON.stringify({ content: textareaValue })
        })
        .then(response => response.json())
        .then(data => {
            content.innerHTML = data.data;
            editPostForm.style.display = 'none';
        })
    }
</script>

{% endblock %}