{% extends "network/layout.html" %}

{% block body %}

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">
        <div class="form-group">
            <input autofocus class="form-control" type="text" name="username" placeholder="Username">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="Password">
        </div>
        <input class="btn btn-primary bg-dark" type="submit" value="Login" style="border: 1px solid rgba(150, 111, 51, 1);">
    </form>

    Don't have an account? <a href="{% url 'register' %}">Register here.</a>

{% endblock %}