{% extends "auctions/layout.html" %}

{% block body %}
    <div style="display: grid; place-items: center; margin-top: 1rem; margin-bottom: 1rem;"><h4>Active Listings</h4></div>
    {% for listing in listings %}

        <div style="margin-bottom: 1.5rem">
        {% if listing.active %}
            <div>
                <h5><a href="{% url 'listing' listing.id %}">{{ listing.title }}</a></h5>
                <a href="{% url 'listing' listing.id %}">
                    <img src="{{ listing.image_url }}" alt="{{ listing.title }}" style="width: 240px; height: 240px; object-fit: cover;">
                </a>
                <div><span></span>Description: </span>{{ listing.description }}</div>
                <div><span>Lister: </span>{{ listing.user }}</div>

                {% if listing.category %}
                <div><span>Category: </span>{{ listing.category | title }}</div>
                {% else %}
                <div><span>Category: </span> Not listed.</div>
                {% endif %}

                {% if listing.current_price %}
                <div><span>Current price: </span><b>${{ listing.current_price }}</b></div>
                {% else %}
                <div><span>Current price: </span>Not specified</div>
                {% endif %}
            </div>
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}